/*Asppectos Generales*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Arial';
}


html,body
{
    overflow-x: hidden;
}

body{
    background: white;
}

.clearfix{
    clear: both;
    float: none;
}

.container{
    width: 85%;
    margin: 0px auto;/*Centrar un bloque*/
}

/*Maquetacion del menu*/

#main-header{

    background:white;
    height: 100px;
    line-height: 85px;
}

#logo{
width: 63%;
float: left;
}

#logo h1{
    font-weight: bold;
    font-size: 25px;
    color: #FB314E;
}


#menu{
    width: 380px;
    float: left;
}

#menu ul li{
    list-style: none;
    float: left;
    margin-left: 19px;
    margin-right: 19px;
}
#menu ul li a {
 color:black;
}

#menu :hover{
    color:#FB314E
}

/*Slider*/
#slider{
    height: 300px;
    background: #FB314E
}

#slider h2{
font-size: 40px;
text-align: center;
color: white;
line-height: 290px;
text-shadow: 0px 0px 6px black

}

/*Serivicos*/

.subheader
{
font-size: 34px;
color: #333333;
text-align: center;
margin-top: 40px;
margin-bottom: 30px;
padding-bottom: 15px;
border-bottom:  1px solid #FB314E
}

.services {
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services img{
height: 60px;
margin-bottom: 20px;
}

.services h3{
    margin-bottom: 10px;

}

.services p, .video p{
   color: #444444;
   text-align: center;
   display: block;
   width: 80%;
   margin:  0px auto;
    
}

/*Maquetando Videos*/
.video{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video iframe{
    width: 80%;
    height: 170px;
}

/*Pie de Pagina*/

#mail-footer{

    background:rgb(54, 48, 48);
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

#mail-footer .subheader{

color:white
}

#networks
{
    display: block;
    width: 215;
    margin: 0px,auto;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;

}

#networks li{
    float: center;
    width: 216;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 300ms;
}


/*Media Query Menu*/
@media all and (max-width: 1225px)
{
        .container{
                         width: 95%;
                  }

}

@media all and (max-width: 1209px)
{
  #main-header{
      height: 70px;
      line-height: 65px;
  }
  #logo{
      width: 60%
  }


  @media all and (max-width: 1000px)
{
    #logo
     {
         width: 227px;
         float: none;
         margin: 0px auto;
     }
     #menu{
         float: none;
         margin: 0px auto;
     }

     #slider{
        overflow: hidden;
        height: 150px;
    }

    #slider h2
 {
     font-size: 30px;
     line-height: 30px;
     margin-top: 70px;
 }
}

@media all and (max-width: 358px)
{

    #menu{

        width: 100%;
        text-align: center;
    }

   #menu ul li {
    margin-left: 4%;
    margin-right: 4%;

   }

}
@media all and (max-width: 303px)
{
    #menu ul li {
        margin-left: 2%;
        margin-right: 2%;
    
       }
}


@media all and (max-width: 507px)
{
    .services {
        width: 70%;
        float: none;
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 40px;
    
       }

}
@media all and (max-width: 817px)
{
    .video{
    width: 70%;
   
    float: none;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
}

/*
     #logo
     {
         width: 227px;
         float: none;
         margin: 0px auto;
     }
     #menu{
         float: none;
         margin: 0px auto;
     }*/
}